body{
    font-family: 'Open Sans', sans-serif;
    padding: 120px 0;
    color:black;
    background-color: darkseagreen;
}

ul{
    padding: 0;
}

li{
    list-style: none;    
}

.main-block{
    line-height: 1.5;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 630px;
    margin: auto;
    padding: 80px 75px;
    text-align: center;
    border-radius: 4px;
    background-color: aquamarine;
    
}

.avatar-image{
    position: absolute;
    top: -60px;
    left: 40%;
    width: 120px;
    height: 120px;
    
    border-radius: 50%;
    background: url('../images/khirm88.jpg');
    background-size: cover;
}

.name-header{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
    margin: 9px 0 24px;
    color: brown;
}

.sub-header{
    font-size: 21px;
    font-weight: 600;
    line-height: 1.3;
    margin: 9 0 0px;
    color: #808080;
}

.list-info{
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}

.info-header{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    margin: 30 0 6px;
}

.socials{
    margin-top: 30px;
}

.socials-li{
    display:inline-block;
    
}
.social-image{
    display: block;
    width: 45px;
    margin:auto;
    transition: transform .4s ease-in-out;
}

.social-image:hover{
    transform: scale(1.1);
}
.social-image img{
    width: 100%;
}